* {
    margin: 0;
    padding: 0;
}

/* whole page */
.content {
    margin: 0 auto;
    max-width: 1500px;
}

/* header and logo */
.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 1rem 2rem;
}

.logo {
    align-items: center;
    display: flex;
}


h1 {
    font-family: 'League Spartan', sans-serif;
    font-size: 4.5rem;
    margin-left: 2rem;
    margin-top: 1.5rem;
    text-transform: uppercase;
}

/* add fact form */
.fact-form {
    align-items: center;
    background-color: #4F4F51;
    border-radius: 2rem;
    display: flex;
    gap: 1rem;
    margin: .5rem;
    padding: .5rem 1rem;
}



body {
    background-color: #232323;
    color: #ffffff;
    font-family: 'Libre Baskerville', serif;
    margin-left: 1rem;
    margin-right: 1rem;
}

li {
    list-style: none;
}

footer {
    text-align: center;
}

.main {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 3fr;
    margin: 1rem .5rem;
}

.sidebar {
    align-items: stretch;
    display: flex;
    flex-direction: column;
}

.categories li {
    margin-bottom: 1rem;
}

.fact {
    align-items: center;
    background-color: #474747;
    border-radius: 2rem;
    display: flex;
    gap: 1rem;
    margin-bottom: .5rem;
    padding: 1rem 2rem;
}

.fact p {
    width: 100%;
}

@media(max-width:74rem) {
    .fact {
        align-items: flex-end;
        flex-direction: column;
        gap: .5rem;
    }

}

.tag {
    border-radius: 100rem;
    font-size: .7rem;
    font-weight: bold;
    margin: 1rem;
    padding: .2rem .7rem;
    text-transform: uppercase;
}

.reaction-btns {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    gap: .5rem;
    margin-left: auto;
}

.reaction-btns button {
    background-color: #595959;
    border: 0;
    border-radius: 100rem;
    color: inherit;
    font-family: inherit;
    font-size: 1rem;
    font-weight: bold;
    padding: .2rem .3rem;
    transition: .3s;
}

.reaction-btns button:hover {
    background-color: #353535;
    cursor: pointer;
}


a:link,
a:visited {
    color: #ffc812;
    text-decoration: none;
    transition: .3s;
}

a:hover,
a:active {
    color: #d6a400;
}

.btn {
    background-color: #000000;
    border: none;
    border-radius: 100rem;
    color: inherit;
    font-family: inherit;
    font-weight: bold;
    line-height: 1;
    padding: .8rem 2rem;
    text-transform: uppercase;
    transition: .3s;
}

.btn:hover {
    cursor: pointer;
    transform: scale(110%) rotate(-2deg);
}

.btn-large {
    font-size: larger;
}

.btn-category {
    font-size: large;
    width: 100%;
}

.btn-category-all {
    margin-bottom: 1rem;
}

footer {
    line-height: 1.5rem;
}

.fact-form input,
.fact-form select {
    background-color: #595959;
    border: none;
    border-radius: 100rem;
    color: #ffffff;
    font-family: inherit;
    font-size: 1rem;
    font-weight: bold;
    padding: .5rem 1rem;
}


.fact-form input::placeholder {
    color: #ffffff;
}

.fact-form span {
    font-weight: bold;
    margin-right: 1rem;
}

.fact-form input:first-child {
    flex-grow: 1;
}

@media(max-width:1000px) {
    .fact-form {
        align-items: stretch;
        flex-direction: column;
        padding: 1rem;
    }

    .fact-form span {
        margin-left: 1rem;
    }

    .main {
        grid-template-columns: 1fr;
    }

    .header {
        flex-direction: column;
    }

    .header button {
        margin-top: 1rem;
        width: 100%;
    }

    .btn:hover {
        cursor: pointer;
        transform: scale(105%);
    }

}

footer {
    align-items: center;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: 2rem;
    width: 100%;

}

@media(min-width:1000px) {
    footer {
        bottom: 0;
        position: absolute;
    }
}